@media screen and (max-width: 600px) {
    .alink { display: flex; justify-content: center; width: 100%; height: 100%; }
    .logo { margin-left: 0;}
    .displ{display: flex; flex-wrap: wrap; width: 100%; height: 100%;}
    
}